*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardBox{
    height: 500px;
    width: 300px;
    padding: 20px;
    /* margin: 20px; */
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.cardBox img{
    border-radius: 20px;
    height: 60%;
    width: 100%;
}
.cardBox h2{
    font-size: 1.3rem;
}