* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dfbd44;
}

h2 {
    font-size: 1.7rem;
}

.container {
    border: 1px solid black;
    padding: 2rem;
    background-color: #fff;
    height: 50vh;
    width: 45vh;
    border-radius: 1rem;
}

form {
    margin: 2rem 0 1rem 0;
}

form input,select,button {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 0.5rem;
}

form input {
    border: 1px solid lightgray;
    font-size: 1rem;
    padding-left: 0.5rem;
    height: 2rem;
}

.drop_down {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.drop_down i {
    margin-top: 1rem;
    cursor: pointer;
}

.select_container img {
    max-width: 2rem;
}

.select_container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    width: 6rem;
    padding-left: 0.4rem;
}

.result {
    margin: 2rem 0 2rem 0;
}

form button {
    height: 3rem;
    font-size: 1.2rem;
    background-color: #57467B;
    color: #fff;
    cursor: pointer;
}